{% raw %}
<script type='text/html' id='navbar-template'>
<!-- Navbar
================ -->
<div id="navbar" class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">bassradio</a>
        <ul class="nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    Browse
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a name="artists" href="#">Artists</a></li>
                    <li><a name="albums" href="#">Albums</a></li>
                    <li><a name="songs" href="#">Songs</a></li>
                </ul>
            </li>
            </li>
            <li><a id="playlists" href="#">Playlists</a></li>
            <li class="divider-vertical"></li>
        </ul>
        <div id="searchbar">
            <form class="navbar-search pull-left">
                <input data-provide="typeahead" type="text" class="search-query" name="artist-search" placeholder="artist" />
                <input data-provide="typeahead" type="text" class="search-query" name="album-search" placeholder="album" />
                <input data-provide="typeahead" type="text" class="search-query" name="song-search" placeholder="song" />
            </form>
        </div>
    </div>
</div>
</script>

<script type='text/html' id='controller-template'>
<div class="row-fluid">
</div>
</script>

<script type='text/html' id='small-info-template'>
</script>

<script type="text/html" id='album-template'>
<div class="row-fluid">
    <h3>{{album}}</h3>
    <div class="span3">
        <div class="album-sidebar">
            <div class="row-fluid">
                <div class="album-thumbnail" >
                    <img src="/api/album/{{id}}/cover" style="max-width: 100%; max-height: 100%;"/> 
                </div>
            </div>
            <div class="row-fluid">
                <div class="album-links">
                </div>
                <div class="album-stats">
                </div>
            </div>
        </div>
    </div>
    <div class="span8">
        <div class="album-description">
            <div class="row-fluid">
                <p>{{lastfm.bio.summary}}</p>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/html" id='album-slider'>
<div class="row-fluid">
    <ul class="bxslider">
        <li><img src="" /></li>
    </ul>
</div>
</script>

<script type="text/html" id='artist-template'>
<div class="row-fluid">
    <h3>{{artist}}</h3>
    <div class="span3">
        <div class="artist-sidebar">
            <div class="row-fluid">
                <div class="artist-thumbnail">
                    <img src="{{photos.extralarge}}" style="max-width: 100%; max-height: 100%;" /> 
                </div>
            </div>
            <div class="row-fluid">
                <div class="artist-stats">
                </div>
            </div>
        </div>
    </div>
    <div class="span8">
        <div class="artist-description">
            <div class="row-fluid">
                <p>{{{lastfm.bio.summary}}}</p>
            </div>
        </div>
    </div>
</div>
</script>

<script type='text/html' id='songtable-template'>
<div class="row-fluid">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Album</th>
            <th>Track</th>
            <th>Year</th>
            <th>Artist</th>
        </tr>
    </thead>
    <tbody class="songtable-data">
    </tbody>
    </table>
</div>
</script>

<script type="text/html" id="songtable-row-template">
<td><small>{{id}}</small></td>
<td>{{title}}</td>
<td><a href="#/album/{{album_id}}">{{album}}</a></td>
<td>{{track}}</td>
<td><a href="#/artist/{{artist}}">{{artist}}</a></td>
<td>{{year}}</td>
</script>
{% endraw %}
